.section-middle {
    background: url('/public/img/footer-bg.jpg');
    background-size: cover;
    max-height: 500px;
    overflow: hidden;
}

.container {
    .list-container {
        width: 50%;

        >div{
            
            h4 {
                color: white;
                margin: 0.5rem 0;
            }

            ul {
                padding: 0;
            }
                a {
                    color: #ada8a8;
                    font-size: 1rem;
                    margin: 1rem 0;
                }
        }
    }

}

/* inizio section bottom */
.section-bottom {
    height: 100px;
    background-color: #303030;

    .container {
        height: 100%;
    }
}