main {
    background-color: rgb(27, 27, 27);

    .jumbotron {
        height: 500px;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .container {
        position: relative;
        color:dark;

        h1 {
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            font-size: 1em;
            background-color: rgb(0, 128, 255);
            position: absolute;
            top: -20px;
            left: 0;
        }

        >.cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 25px;
            

            .card{
                width: calc(100% / 6);
                padding: 10px;
                padding-bottom: 30px ;
                background-color:rgb(27, 27, 27);
                border: 0;
            }
            .img-series{
                width: 100%;
            
                img{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    object-position: top;
                }
            
            }
        }

        >.load {
            text-align: center;
            padding-bottom: 20px;

            >button {
                background-color: rgb(0, 128, 255);
                border: none;
                padding: 5px 40px;

            }
        }
    
    }

    .section-top{
        background-color: rgb(0, 128, 255);
        position: sticky;
        top: 0;
        z-index: 1;
    
        .container{
            height: 130px;
    
            > .list-buy{
                height: 100%;
                    li > a{
                    
                    > img{
                        max-width: 60px;
                        height: 55px;
                    }
                }
            }
        }
    
    }
}
